.sign-in9-container1 {
  gap: var(--dl-layout-space-unit);
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.sign-in9-max-width {
  gap: var(--dl-layout-space-unit);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.sign-in9-container2 {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.sign-in9-image {
  width: 50px;
  height: 50px;
  object-fit: cover;
}
 
.sign-in9-text10 {
  align-self: center;
}
 
.sign-in9-container3 {
  gap: var(--dl-layout-space-twounits);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: var(--dl-layout-space-fourunits);
  padding-right: var(--dl-layout-space-fourunits);
  flex-direction: row;
  justify-content: center;
}
 
.sign-in9-container4 {
  flex: 1;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.sign-in9-form {
  gap: var(--dl-layout-space-unit);
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}
 
.sign-in9-email {
  gap: var(--dl-layout-space-halfunit);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.sign-in9-textinput1 {
  width: 100%;
  border-color: var(--dl-color-theme-primary1);
  background-color: transparent;
}
 
.sign-in9-password {
  gap: var(--dl-layout-space-halfunit);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.sign-in9-container5 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
 
.sign-in9-hide-password {
  gap: var(--dl-layout-space-halfunit);
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-shrink: 1;
  justify-content: center;
}
 
.sign-in9-icon1 {
  fill: var(--dl-color-theme-neutral-dark);
  width: 24px;
  height: 24px;
}
 
.sign-in9-textinput2 {
  width: 100%;
  border-color: var(--dl-color-theme-primary1);
  background-color: transparent;
}
 
.sign-in9-link1 {
  align-self: flex-end;
  text-decoration:  underline none;
}
 
.sign-in9-button1 {
  width: 100%;
  align-self: center;
}
 
.sign-in9-text14 {
  text-align: center;
}
 
.sign-in9-divider1 {
  gap: var(--dl-layout-space-oneandhalfunits);
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
 
.sign-in9-container6 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.sign-in9-divider2 {
  width: 1px;
  height: var(--dl-layout-size-medium);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-theme-primary1);
}
 
.sign-in9-divider3 {
  width: 1px;
  height: var(--dl-layout-size-medium);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-theme-primary1);
}
 
.sign-in9-link2 {
  display: contents;
}
 
.sign-in9-text16 {
  text-decoration: underline none;
}
 
.sign-in9-container7 {
  flex: 1;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.sign-in9-container8 {
  gap: var(--dl-layout-space-unit);
  width: 100%;
  display: flex;
  box-sizing: border-box;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
}
 
.sign-in9-button2 {
  gap: var(--dl-layout-space-halfunit);
  width: 100%;
  display: flex;
  box-sizing: border-box;
  align-items: center;
  border-color: var(--dl-color-theme-primary1);
  border-style: solid;
  border-width: 1px;
  justify-content: center;
}
 
.sign-in9-icon3 {
  width: 24px;
  height: 24px;
}
 
.sign-in9-button3 {
  gap: var(--dl-layout-space-halfunit);
  width: 100%;
  display: flex;
  box-sizing: border-box;
  align-items: center;
  border-color: var(--dl-color-theme-primary1);
  border-style: solid;
  border-width: 1px;
  justify-content: center;
}
 
.sign-in9-icon5 {
  width: 24px;
  height: 24px;
}
 
.sign-in9-button4 {
  gap: var(--dl-layout-space-halfunit);
  width: 100%;
  display: flex;
  box-sizing: border-box;
  align-items: center;
  border-color: var(--dl-color-theme-primary1);
  border-style: solid;
  border-width: 1px;
  justify-content: center;
}
 
.sign-in9-icon7 {
  width: 24px;
  height: 24px;
}
 
.sign-in9-text20 {
  display: inline-block;
}
 
.sign-in9-text21 {
  display: inline-block;
}
 
@media(max-width: 991px) {
  .sign-in9-container1 {
    gap: var(--dl-layout-space-twounits);
    height: auto;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
}
 
@media(max-width: 767px) {
  .sign-in9-container3 {
    padding-left: var(--dl-layout-space-threeunits);
    padding-right: var(--dl-layout-space-threeunits);
    flex-direction: column;
  }
  .sign-in9-divider1 {
    width: 100%;
  }
  .sign-in9-container6 {
    gap: var(--dl-layout-space-twounits);
    width: 100%;
    flex-direction: row;
  }
  .sign-in9-divider2 {
    flex: 1;
    width: 100%;
    height: 1px;
  }
  .sign-in9-divider3 {
    flex: 1;
    width: 100%;
    height: 1px;
  }
}
 
@media(max-width: 479px) {
  .sign-in9-container3 {
    padding-left: var(--dl-layout-space-oneandhalfunits);
    padding-right: var(--dl-layout-space-oneandhalfunits);
  }
  .sign-in9-button1 {
    width: 100%;
  }
  .sign-in9-button2 {
    width: 100%;
  }
  .sign-in9-button3 {
    width: 100%;
  }
  .sign-in9-button4 {
    width: 100%;
  }
}
